a{
    text-decoration: none;
}

.main_container{
    font-size: 0.7rem;
    text-decoration: none;
    max-height: 50vh;
    overflow: hidden;
}

.image_container{
    height: 29vh;
}

.image_container img{
    height: 100%;
}

.img{
    max-width: 20vw;
}

.temperaments_container{ /*que hermoso es grid*/
    
    text-decoration: none;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 0 0.7rem;
}

.temperaments_container h3{
    background-color: green;
}